<h2>Создание новой справки</h2>
<%= form_for @new, :url => url_for(:controller => 'help') do |f| %>
    <%= render 'layouts/error_message', :obj => f.object %>
    <div class="field">
      <%= f.label :number %>
      <%= f.text_field :number %>
    </div>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :content %>
      <%= f.cktext_area :content, :toolbar => "My" %>
    </div>
    <div class="actions">
      <%= f.submit "Создать", :class => "btn" %>
    </div>
<% end %>
