<h2>Редактирование информации о пользователе</h2>
<%= simple_form_for @profile, url: user_profile_path, html: {multipart: true} do |f| %>
    <%= render 'layouts/error_message', :obj => f.object %>
    <%= f.input :surname %>
    <%= f.input :name %>
    <%= f.input :patronymic %>
    <%= f.input :mail, as: :email %>
    <%= f.input :avatar do %>
        <%= image_tag @profile.avatar.medium.url %><br>
        <%= f.input_field :avatar %>
    <% end %>
    <%= f.input :avatar_cache, as: :hidden %>
    <%= f.input :remove_avatar, as: :boolean, label: "Удалить фотографию" if @profile.avatar? %><br>
    <%= f.submit class: "btn" %>
<% end %>

<% content_for :submenu do %>
    <li><%= link_to "Логин и пароль", edit_user_path %></li>
    <li><%= link_to "Информация о пользователе", edit_user_profile_path %></li>
    <li><%= link_to "Информация о компании", edit_user_company_path %></li>
<% end %>
