<h2>Создание информации о пользователе</h2>
<p><text style="color: red;">Пожалуйста, завершите регистрацию.</text> Шаг 2/3</p>
<%= simple_form_for @profile, url: user_profile_path, :html => { :multipart => true } do |f| %>
    <%= render 'layouts/error_message', :obj => f.object %>
    <%= f.input :surname %>
    <%= f.input :name %>
    <%= f.input :patronymic %>
    <%= f.input :mail, as: :email %>
    <%= f.input :avatar %>
    <%= f.input :avatar_cache, as: :hidden %>
    <%= f.submit class: "btn" %>
<% end %>

