%h1= t(".header")
= simple_form_for @type, url: session_path do |f|
  = f.input :login
  = f.input :password
  = f.submit t(".login_button"), class: "btn btn-success"

%p
  = t(".new_user")
  = link_to t(".new_user_link"), new_user_path
