<h2>История сессий пользователями</h2>
<% if @all.blank? %>
    <em>Нет информации</em>
<% else %>
    <table class="table table-bordered">
      <tr>
        <td>Пользователь</td>
        <td>Последняя страница</td>
        <td>Ip-адрес</td>
        <td>Время</td>
        <td>Действия</td>
      </tr>
      <% @all.each do |one| %>
          <tr>
            <td><%= link_to one.user.login, one.user %></td>
            <td><%= one.page %></td>
            <td><%= one.ip %></td>
            <td><%= (one.updated_at) ? one.updated_at.strftime("%T %d.%m.%Y ") : "Нет данных" %></td>
            <td><%= link_to "Удалить", one, method: :delete, class: "btn btn-danger" %></td>
          </tr>
      <% end %>
    </table>
<% end %>

<% render "layouts/admin_left_column" %>