<h2>Редактировать блок</h2>
<%= link_to " << На страницу стандартов", standarts_path %>
<%= link_to " << К блоку", block_path %>

<%= form_for :block, :url => { :action => :update, :id => @block.id }, :method => :put do |f| %>
    <div class="field">
      <%= f.label "Название" %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label "Содержание" %><br />
      <%= f.cktext_area :content, :toolbar => "My" %>
    </div>
    <div class="actions">
      <%= f.submit "Редактировать" %>
    </div>
<% end %>