<h3>Стандарты</h3>
<% @blocks.each do |oneBlock| %>
    <table><tr><td>
      <%= image_tag("arr_right.jpg", :size => "15x15", :alt => "Перейти", :class => "imgOpenBlock",
        :onclick => "slideDiv('#block_all_content" + oneBlock.id.to_s + "')",
      :id => "arrShowContent" + oneBlock.id.to_s ) %>
    </td><td>
    <%= content_tag :div,
        (link_to oneBlock.is_show.eql?("true") ? oneBlock.number.to_s + ". " + oneBlock.name.to_s : oneBlock.name.to_s, block_path(oneBlock.number)),
        :class => "blockName"%>
    </td></tr>
    </table>
    <%= content_tag :div, :class => "blockAllContent", :id => "block_all_content" + oneBlock.id.to_s do %>
      <% if !oneBlock.content.nil? %>
          <%= content_tag :div, "Просмотреть содержание", :class => "blockContentWatchAll", :onclick => "slideDiv('#content" + oneBlock.id.to_s + "')"%>
          <%= content_tag :div, oneBlock.content.html_safe, :class => "blockContent", :id => "content" + oneBlock.id.to_s %>
      <% end %>
      <% Point.find_all_by_block_id(oneBlock.id).each do |onePoint| %>
        <%= content_tag :div,
            (link_to onePoint.number + ". " + onePoint.name, point_path(onePoint.link), :class => "pointLink"),
          :class => "point", :style => ("padding-left:" + ((onePoint.level - 1) * 20).to_s + "px" if onePoint.level != 1) %>
      <% end %>
    <% end %>
<% end %>
<br />
