<%= link_to "<< К списку всех стандартов", block_index_path %>
<%= content_tag :div,
    (@block.is_show.eql?("true") ? @block.number.to_s + ". " + @block.name.to_s : @block.name.to_s),
  :class => "blockNameInBlock" %>
<%= content_tag :div, :class => "blockAllContent", :id => "block_content" + @block.id.to_s, :style => "display: block;" do %>
  <% if !@block.content.nil? %>
    <% if @points.each.count > 0 %>
      <%= content_tag :div, "Просмотреть содержание", :class => "blockContentWatchAll",
        :onclick => "slideDiv('#content" + @block.id.to_s + "')" %>
      <%= content_tag :div, :class => "blockContent", :id => "content" + @block.id.to_s do %>
        <h4><%= link_to "Редактировать блок", block_edit_path %></h4>
        <%= @block.content.html_safe %>
      <% end %>
  <% else %>
    <div >
      <h4><%= link_to "Редактировать блок", block_edit_path %></h4>
      <%= @block.content.html_safe %>
    </div>
  <% end %><br>
  <% else %>
      <h4><%= link_to "Редактировать блок", block_edit_path %></h4>
  <% end %>
  <% @points.each do |onePoint| %>
      <%= content_tag :div,
          (link_to onePoint.number + ". " + onePoint.name, point_path(onePoint.link),
                    :class => "pointLink"),
        :class => "point",
        :style => ("padding-left:" + ((onePoint.level - 1) * 20).to_s + "px" if onePoint.level != 1) %>
  <% end %>
<% end %>