<h2>Редактирование раздела <%= @edit.code_with_name if !@edit.name.blank? %></h2>
<div style="position: absolute; visibility: hidden;" id="native_id"><%= @edit.id %></div>
<%= form_for @edit, :url => { :action => :update, :id => @edit.link } do |f| %>
    <%= render 'layouts/error_message', :obj => f.object %>
    <div class="field">
      <%= f.label "Название" %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label "Принадлежит разделу" %>
      <%= f.select(:parent_id, @select.collect {|p| [ p.for_select, p.id ] }, {:include_blank => 'Не принадлежит'}) %>
    </div>
    <div id="number">
      <%= render :partial => "standard/number_selection" %>
    </div>
    <div class="field">
      <%= f.label "Содержание" %>
      <%= f.cktext_area :content, :toolbar => "My" %>
    </div>
    <div class="actions">
      <%= f.submit "Редактировать", :class => "btn" %>
    </div>
<% end %>

<% content_for :submenu do %>
    <li><%= link_to "Назад", standard_path(@edit.link) %></li>
<% end %>

<% content_for :left do %>
    <%= link_to "К списку всех разделов", standard_index_path %>
<% end %>