<h2>Стандарты</h2>
<% if !@all.blank? %>
    <ul class="standard-list">
      <% @all.each do |one| %>
          <%= content_tag :li, (link_to one.code_with_name, standard_path(one.link)), :style => "margin-left:#{one.level * 20}px;" %>
      <% end %>
    </ul>
<% else %>
    Стандартов ещё нет, <%= link_to "создать?", new_standard_path %>
    <% if !current_user.super_admin? %>
        Или <%= link_to "принять шаблон?", helper_take_pattern_path %>
    <% end %>
<% end %>

<% content_for :submenu do %>
    <li><%= link_to "Новый раздел", new_standard_path %></li>
    <li><%= link_to "Принять шаблон", helper_take_pattern_path, :confirm => "Все ваши стандарты будут удалены и записаны шаблонные стандарты. Вы уверены?" %></li>
<% end %>
<% content_for :left do %>

<% end %>