<h2>Создание нового раздела</h2>

<%= form_for :new, :url => url_for(:controller => 'standard') do |f| %>
    <div class="field">
      <%= f.label "Название" %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label "Принадлежит разделу" %>
      <%= f.select(:parent_id, @select.collect {|p| [ p.for_select, p.id ] }, {:include_blank => 'Не принадлежит'}) %>
    </div>
    <div id="number"><%= render :partial => "standard/number_selection" %>
    </div>
    <div class="field">
      <%= f.label "Содержание" %>
      <%= f.cktext_area :content, :toolbar => "My" %>
    </div>
    <div class="actions">
      <%= f.submit "Создать", :class => "btn" %>
    </div>
<% end %>