<h2>Создание нового раздела</h2>

<%= form_for @new, :url => url_for(:controller => 'standard') do |f| %>
    <%= render 'layouts/error_message', :obj => f.object %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :parent_id %>
      <%= f.select(:parent_id, @select.collect {|p| [ p.for_select, p.id ] }, {:include_blank => 'Не принадлежит'}) %>
    </div>
    <div id="number">
      <%= render :partial => "standard/number_selection", :locals => {:obj => @new } %>
    </div>
    <div class="field">
      <%= f.label :content %>
      <%= f.cktext_area :content, :toolbar => "My" %>
    </div>
    <div class="actions">
      <%= f.submit "Создать", :class => "btn" %>
    </div>
<% end %>

<% content_for :left do %>
<%= link_to "К списку всех разделов", standard_index_path %>
    "<%= params[:standard] %>"
<% end %>