<%= form_for @news, url: url do |f| %>
    <%= render 'layouts/error_message', :obj => f.object %>
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :content %>
      <%= f.cktext_area :content, ckeditor: {toolbar: "My"} %>
    </div>
    <div class="actions">
      <%= f.submit :class => "btn" %>
    </div>
<% end %>
