%p.h{style: "margin-bottom: 20px;"}= t(".header")
- if @news.any?
  %table.table
    - @news.each do |one|
      %tr
        %td
          %text.title= link_to one.title, one
           
          %em= (l one.created_at, format: "%d %B в %R")
          %p{style: "margin-bottom: 12px;"}
          = one.content.html_safe
- else
  = t(".no_one_news")