%h2 Пользователи системы
- if @profiles.any?
  %table.table.table-bordered
    %thead
      %tr
        %td{:style => "width: 10%;"} Аватар
        %td= sort_link @q, :surname, 'Пользователь'
        %td Компания
        %td= sort_link @q, :created_at, 'Когда создан'
        %td Действия
    %tbody
      - @profiles.each do |one|
        %tr
          %td{:style => "text-align: center;"}= image_tag one.avatar.url(:thumb)
          %td= link_to one.first_and_last_name, admin_profile_path(one)
          %td= (one.company) ? (link_to one.company.opf_and_name, admin_company_path(one.company)) : "Данные повреждены"
          %td= (one.created_at) ? one.created_at.strftime("%d.%m.%Y %T") : "Нет данных"
          %td= link_to "Удалить", (one.user) ? admin_user_path(one.user) : admin_profile_path(one), method: :delete, data: { confirm: 'Вы уверены?' }, class: "btn btn-danger"
- else
  %em Пользователей нет

- render "layouts/admin_left_column"