<h2>Информация о пользователе</h2>

<%= image_tag @profile.avatar.url %><br><br>
Фамилия: <%= @profile.surname %><br><br>
Имя: <%= @profile.name %><br><br>
Отчество: <%= @profile.patronymic %><br><br>
Эл. почта: <%= @profile.mail %><br><br>

<% render "layouts/admin_left_column" %>

