= simple_form_for @user, url: url do |f|
  = f.error_notification
  = f.input :login
  = f.input :password
  = f.input :password_confirmation
  .form-actions
    = f.submit class: "btn btn-large btn-inverse"
