%h2= t(".header")
- if @companies.any?
  %table.table.table-bordered
    %thead
      %tr
        %td= t(".logo")
        %td= sort_link @q, :name, t(".company")
        %td= t(".profile")
        %td= sort_link @q, :created_at, t(".created_date")
        %td= t(".actions")
    %tbody
      - @companies.each do |one|
        %tr
          %td{:style => "text-align: center;"}= image_tag one.logo.url(:medium), style: "width:100px"
          %td= link_to one.opf_and_name, admin_company_path(one)
          %td= one.link_to_profile
          %td= one.created_at
          %td= (link_to t(".destroy_link"), admin_company_path(one), method: :delete, class: "btn btn-danger") if !one.user
- else
  %em= t(".no_one_company")


- render "layouts/admin_left_column"