<h2>Компании системы</h2>
<% if @companies.blank? %>
    <em>Пользователей нет</em>
<% else %>
    <table class="table table-bordered">
      <tr>
        <td>Логотип</td>
        <td>Компания</td>
        <td>Пользователь</td>
        <td>Когда создан</td>
        <td>Действия</td>
      </tr>
      <% @companies.each do |one| %>
          <tr>
            <td style="text-align: center;">
              <%= image_tag one.logo.url(:medium), :style => "width:100px" %>
            </td>
            <td>
              <%= link_to one.opf_and_name, admin_company_path(one) %>
            </td>
            <td>
              <%= (one.profile) ? (link_to one.profile.fi, admin_profile_path(one.profile)) : "Данные повреждены" %>
            </td>
            <td>
              <%= (one.created_at) ? one.created_at.getlocal.strftime("%d.%m.%Y %T") : "Нет данных" %>
            </td>
            <td>
              <%= (link_to "Удалить", admin_company_path(one), method: :delete, class: "btn btn-danger") unless one.user %>
            </td>
          </tr>
      <% end %>
    </table>
<% end %>

<% render "layouts/admin_left_column" %>
