%h2= @standard.code_with_name
.standardContent= raw @standard.content
- if @children.any?
  = t(".children")
  %ul.standard-list
    - @children.each do |one|
      %li= link_to one.code_with_name, standard_path(one.link)

- content_for :submenu do
  %li= link_to t(".new_link"), new_standard_path
  %li= link_to t(".edit_link"), edit_standard_path(@standard.link)
  %li= link_to t(".destroy_link"), @standard.link, method: :delete, confirm: t(".confirm_link")

- content_for :left do
  = link_to t(".standards_link"), standards_path
  %br/
  = (link_to t(".parent_link"), standard_path(@standard.parent.link)) unless @standard.parent.is_root?
  - if @children.any?
    %br/
    %br/
    = t(".children") + ":"
    %ul.standard-list
      - @children.each do |one|
        %li= link_to one.code_with_name, standard_path(one.link)