<h2>Редактирование информации о пользователе</h2>
<%= form_for @user_info, :html => { :multipart => true } do |f| %>
    <%= render 'layouts/error_message', :obj => f.object %>
    <div class="field">
      <%= f.label :surname %>
      <%= f.text_field :surname %>
    </div>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :patronymic %>
      <%= f.text_field :patronymic %>
    </div>
    <div class="field">
      <%= f.label :mail %>
      <%= f.text_field :mail %>
    </div>
    <div class="field">
      <%= f.label :avatar %>
      <%= image_tag @user_info.avatar.url(:medium) %><br>
      <%= f.file_field :avatar, :accept => 'image/jpeg,image/gif,image/png' %>
    </div>
    <div class="actions">
      <%= f.submit :class => "btn" %>
    </div>
<% end %>

<% content_for :submenu do %>
    <li><%= link_to "Логин и пароль", edit_user_path(@user_info.user) %></li>
    <li><%= link_to "Информация о пользователе", edit_user_info_path(@user_info) %></li>
    <li><%= link_to "Информация о компании", edit_company_path(@user_info.company) %></li>
<% end %>
