%h2= t(".header")
= simple_form_for @user, url: user_path do |f|
  = render 'layouts/error_message', obj: f.object
  = f.input :login
  = f.input :password
  = f.input :password_confirmation
  = f.submit class: "btn"

= (link_to t(".destroy_link"), user_path, method: :delete, class: "btn btn-danger", confirm: t(".confirm_destroy")) if !current_user.super_admin?

- content_for :submenu do
  %li= link_to t(".edit_user_link"), edit_user_path
  %li= link_to t(".edit_profile_link"), edit_user_profile_path
  %li= link_to t(".edit_company_link"), edit_user_company_path