<h2>Редактировать логин и пароль</h2>
<%= form_for @user, :url => { :action => :update, :id => @user.id } do |f| %>
    <%= render 'layouts/error_message', :obj => f.object %>
    <div class="field">
      <%= f.label :login %>
      <%= f.text_field :login %>
    </div>
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="actions">
      <%= f.submit "Обновить", :class => "btn" %>
    </div>
<% end %>
<%= link_to "Удалить учётную запись", {:action => :destroy}, :method => :delete, :class => "btn btn-danger", :confirm => "Вы уверены, что хотите удалить свою учётную запись?"  %>

<% content_for :submenu do %>
    <li><%= link_to "Логин и пароль", edit_user_path %></li>
    <li><%= link_to "Информация о пользователе", edit_user_user_info_path %></li>
    <li><%= link_to "Информация о компании", edit_user_company_path %></li>
<% end %>