<h2>Редактировать логин и пароль</h2>
<%= form_for @user, url: user_path do |f| %>
    <%= render 'layouts/error_message', :obj => f.object %>
    <div class="field">
      <%= f.label :login %>
      <%= f.text_field :login %>
    </div>
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="actions">
      <%= f.submit :class => "btn" %>
    </div>
<% end %>
<%= (link_to "Удалить учётную запись", user_path, method: :delete, class: "btn btn-danger", confirm: "Вы уверены, что хотите удалить свою учётную запись?") if !current_user.super_admin? %>

<% content_for :submenu do %>
    <li><%= link_to "Логин и пароль", edit_user_path %></li>
    <li><%= link_to "Информация о пользователе", edit_user_user_info_path %></li>
    <li><%= link_to "Информация о компании", edit_user_company_path %></li>
<% end %>