<h2>Информация о пользователе</h2>
<p><%= @user.user_info.name %></p>
<p><%= @user.user_info.surname %></p>
<p><%= @user.user_info.patronymic %></p>
<p><%= @user.user_info.mail %></p>

<%= link_to "Редактировать", edit_user_path(@user), class: "btn btn-success" %>