<h2>Информация о пользователе</h2>
<p><%= @user.profile.name %></p>
<p><%= @user.profile.surname %></p>
<p><%= @user.profile.patronymic %></p>
<p><%= @user.profile.mail %></p>

<%= link_to "Редактировать", edit_user_path, class: "btn btn-success" %>