<h2>Информация о пользователе</h2>

<%= image_tag @user_info.avatar.url(:medium) %><br><br>
Фамилия: <%= @user_info.surname %><br><br>
Имя: <%= @user_info.name %><br><br>
Отчество: <%= @user_info.patronymic %><br><br>
Эл. почта: <%= @user_info.mail %><br><br>

<% render "layouts/admin_left_column" %>

