= simple_form_for @company, url: url do |f|
  = f.error_notification
  = f.input :opf
  = f.input :name
  = f.input :logo do
    = image_tag @company.logo.medium.url
    %br/
    = f.input_field :logo
  = f.input :logo_cache, as: :hidden
  = f.input :remove_logo, as: :boolean, label: t(".destroy_logo") if @company.logo?
  %br/
  = f.submit class: "btn"