<p class="h" style="margin-bottom: 20px;">Новости</p>
<% if !@news.blank? %>
    <table class="table">
      <% @news.each do |one| %>
          <tr>
            <td>
              <text class="title"><%= link_to one.title, one %></text> &nbsp;
              <em><%= (l one.created_at.getlocal, format: "%d %B в %R") if one.created_at %></em>
              <p style="margin-bottom: 12px;"></p>
              <%= one.content.html_safe %>
            </td>
          </tr>
      <% end %>
    </table>
<% else %>
    Нет новостей. <%= (link_to "Создать?", new_news_path) if current_user_super_admin? %>
<% end %>

<% if current_user_super_admin? %>
    <% content_for :submenu do %>
        <li><%= link_to "Добавить новость", new_news_path %></li>
    <% end %>
<% end %>