%h2= t(".header")
- if @helps.any?
  %ul.list-style-type-none
    - @helps.each do |one|
      %li= link_to one.number_with_name, admin_help_path(one)
- else
  %em= t(".no_one_help")
  = link_to t(".create_link_if_apcent"), new_admin_help_path

- content_for :submenu do
  %li= link_to t(".create_link"), new_admin_help_path