<h2>Редактирование информации о компании</h2>
<%= simple_form_for @company, url: user_company_path, html: {multipart: true} do |f| %>
    <%= render 'layouts/error_message', :obj => f.object %>
    <%= f.input :opf %>
    <%= f.input :name %>
    <%= f.input :logo do %>
        <%= image_tag @company.logo.medium.url %><br>
        <%= f.input_field :logo %>
    <% end %>
    <%= f.input :logo_cache, as: :hidden %>
    <%= f.input :remove_logo, as: :boolean, label: "Удалить фотографию" if @company.logo? %><br>
    <%= f.submit class: "btn" %>
<% end %>

<% content_for :submenu do %>
    <li><%= link_to "Логин и пароль", edit_user_path %></li>
    <li><%= link_to "Информация о пользователе", edit_user_profile_path %></li>
    <li><%= link_to "Информация о компании", edit_user_company_path %></li>
<% end %>
