%h2= t(".header")
= image_tag @profile.avatar.medium.url
%p= [t(".surname"), @profile.surname].join(": ")
%p= [t(".name"), @profile.name].join(": ")
%p= [t(".patronymic"), @profile.patronymic].join(": ")
%p= [t(".mail"), @profile.mail].join(": ")
%p= link_to t(".edit_link"), edit_user_profile_path, class: "btn btn-success"