<%= form_for @help do |f| %>
    <%= render 'layouts/error_message', :obj => f.object %>
    <div class="field">
      <%= f.label :number %>
      <%= f.text_field :number %>
    </div>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :content %>
      <%= f.cktext_area :content, ckeditor: {toolbar: "My"} %>
    </div>
    <div class="actions">
      <%= f.submit :class => "btn" %>
    </div>
<% end %>