<h1>Регистрация</h1>
<%= form_for @user, :url => url_for(:controller => 'user') do |f| %>
    <%= render 'layouts/error_message', :obj => f.object %>
    <div class="field">
      <%= f.label :login, "Логин" %>
      <%= f.text_field :login %>
    </div>
    <div class="field">
      <%= f.label :password, "Пароль" %>
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation, "Подтверждение пароля" %>
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="actions">
      <%= f.submit "Зарегистрировать", :class => "btn btn-success" %>
    </div>
<% end %>
