%h2= t(".header")
#native_id= @standard.id
= simple_form_for @standard, url: { action: :update, id: @standard.link } do |f|
  = render 'layouts/error_message', :obj => f.object
  = f.input :name
  = f.input :parent_id, collection: @select.collect {|p| [ p.for_select, p.id ] }, include_blank: t(".select_include_blank")
  #number
    = render :partial => "standards/number_selection", locals: {obj: @standard }
  = f.input :content, as: :ckeditor, input_html: { ckeditor: {toolbar: 'My'} }
  %br/
  = f.input :state, as: :check_boxes, label: false, wrapper: :inline_checkbox do
    = f.check_box :state, {}, "refrained", "published"
    = f.label t(".draft")
  = f.input :access_state_event, as: :access_state_event
  = f.submit class: "btn"

- content_for :submenu do
  %li= link_to t(".back_link"), standard_path(@standard.link)

- content_for :left do
  = link_to t(".standards_link"), standards_path