<h2>Стандарты</h2>
<% if !@all.blank? %>
    <ul class="standard-list">
      <% @all.each do |one| %>
          <%= content_tag :li, (link_to one.code_with_name, standard_path(one.link)), :style => "margin-left:#{one.level * 20}px;" %>
      <% end %>
    </ul>
<% else %>
    Стандартов ещё нет, <%= link_to "создать?", new_standard_path %>
    <% if !current_user.super_admin? %>
        Или <%= link_to "принять шаблон?", take_pattern_standards_path %>
    <% end %>
<% end %>

<% content_for :submenu do %>
    <li><%= link_to "Новый стандарт", new_standard_path %></li>

    <% if !current_user.super_admin? %>
        <li><%= link_to "Принять шаблон", take_pattern_standards_path, data: {confirm: "Все ваши стандарты будут удалены и записаны шаблонные стандарты. Вы уверены?"} %></li>
    <% end %>
<% end %>
<% content_for :left do %>

<% end %>