%h2= t(".header")

%p= image_tag @profile.avatar.url
%p= [t(".surname"), @profile.surname].join(": ")
%p= [t(".name"), @profile.name].join(": ")
%p= [t(".patronymic"), @profile.patronymic].join(": ")
%p= [t(".mail"), @profile.mail].join(": ")

- render "layouts/web/admin/admin_left_column"

