%h1 Все учётные записи
%table.table.table-bordered
  %thead
    %tr
      %td= sort_link @q, :login, 'Логин'
      %td Пользователь
      %td Компания
      %td= sort_link @q, :created_at, 'Дата создания'
      %td Действия
  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.login, admin_user_path(user)
        %td= user.profile ? (link_to user.profile.first_and_last_name, admin_profile_path(user.profile)) : "Данные повреждены"
        %td= user.company ? (link_to user.company.opf_and_name, admin_company_path(user.company)) : "Данные повреждены"
        %td= user.created_at.strftime("%d.%m.%Y %T")
        %td= (link_to "Удалить", admin_user_path(user), method: :delete, data: { confirm: "Вы уверены?" }, class: "btn btn-danger") unless user.super_admin?

- render "layouts/admin_left_column"