%h1= t(".header")
%table.table.table-bordered
  %thead
    %tr
      %td= sort_link @q, :login, t(".login")
      %td= t(".profile")
      %td= t(".company")
      %td= sort_link @q, :created_at, t(".created_date")
      %td= t(".actions")
  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.login, admin_user_path(user)
        %td= user.link_to_profile
        %td= user.link_to_company
        %td= user.created_at
        %td= (link_to t(".destroy_link"), admin_user_path(user), method: :delete, data: { confirm: t(".confirm_destroy") }, class: "btn btn-danger") if !user.super_admin?

- render "layouts/admin_left_column"