%h2= t(".header")
%table.table.table-bordered
  %thead
    %tr
      %td= t(".user")
      %td= sort_link @q, :page, t(".last_page")
      %td= sort_link @q, :ip, t(".ip")
      %td= sort_link @q, :updated_at, t(".time")
      %td= t(".actions")
  %tbody
    - @session_histories.each do |one|
      %tr
        %td= link_to one.user.login, admin_user_path(one.user)
        %td= one.page
        %td= one.ip
        %td= one.updated_at.strftime("%T %d.%m.%Y ")
        %td= link_to t(".destroy_link"), admin_session_history_path(one), method: :delete, class: "btn btn-danger"

- render "layouts/web/admin/admin_left_column"