<h2>Редактировать стандарт</h2>
<%= link_to " << На страницу стандартов", standarts_path %>
<%= link_to " << К блоку", block_path(@point.block_id) %> <%= link_to " << К пункту", point_path %>

<%= form_for :point, :url => { :action => :update, :code => @code }, :method => :put do |f| %>
    <div class="field">
      <span style="font-size: 16px;">Нумерация пункта:</span><b> <%=  @code.gsub("-",".") %></b>
    </div>
    <div class="field">
      <%= f.label "Принадлежит блоку" %><br />
      <%= f.select(:block_id, Block.all.collect {|p| [ p.name, p.id ] }) %>
    </div>
    <div class="field">
      <%= f.label "Название" %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label "Содержание" %><br />
      <%= f.cktext_area :content, :toolbar => "My" %>
    </div>
    <div class="actions">
      <%= f.submit "Редактировать" %>
    </div>
<% end %>