<h1><%= @point.block.number.to_s + ". " + @point.block.name %></h1>
<h2><%= @point.number + ". " + @point.name %></h2>
<%= link_to " << На страницу стандартов", block_index_path %> <%= link_to " << К блоку", block_path(@point.block.number) %>
<%= if !@point.parent_id.nil?
      link_to "<< К родительскому пункту", point_path(@point.parent.link)
    end%>
<% if !@point.content.nil? %>
    <h4><%= link_to "Редактировать", point_edit_path %></h4>
    <%= @point.content.html_safe %>
<% else %>
    <br><br>
    <i>Данный раздел пуст, <%= link_to "Заполнить?", point_edit_path %> </i>
<% end %><br><br>
<% if @point.child.count != 0 %>
  Дочерние пункты:
  <% @point.child.each do |onePoint| %>
    <%= content_tag :div,
      (link_to onePoint.number + ". " + onePoint.name, point_path(onePoint.link),
        :class => "pointLink"),
    :class => "point",
    :style => ("padding-left:" + ((onePoint.level - 1) * 20).to_s + "px" if onePoint.level != 1)
    %>
  <% end %>
<% end %>