#header
  = link_to (image_tag current_user.company.logo.url), user_company_path
#menu
  %ul
    %li
      .ul-image= link_to image_tag("task.jpg", :size=>"40x40"), standards_path
      %div= link_to t(".standards"), standards_path
    %li
      .ul-image= link_to image_tag("task.jpg", :size=>"40x40"), public_standards_path
      %div= link_to t(".public_standards"), public_standards_path
    %li
      .ul-image= link_to image_tag("help.jpg", :size=>"40x40"), admin_helps_path
      %div= link_to t(".help"), admin_helps_path
    %li
      .ul-image= link_to image_tag("news-ico.jpg", :size=>"40x40"), admin_news_index_path
      %div= link_to t(".news"), admin_news_index_path
    %li
      .ul-image= link_to image_tag("admin_ico.png", :size=>"40x40"), admin_users_path
      %div= link_to t(".admin_room"), admin_users_path
  .bar-user
    .first-line
      = image_tag current_user.profile.avatar.thumb.url
      = link_to current_user.profile.first_and_last_name, user_profile_path
      = link_to image_tag("logout-icon.png", :size => "30x30", :title => t(".logout")), session_path, method: :delete
    .second-line
      = link_to t(".settings"), edit_user_path
