<div id="header">
  <%= link_to (image_tag current_user.company.logo.url), user_company_path %>
</div>
<div id="menu">
  <ul>
    <li>
      <div class="ul-image"><%= link_to image_tag("task.jpg", :size=>"40x40"), standards_path %></div>
      <div><%= link_to "Стандарты", standards_path %></div>
    </li>
    <li>
      <div class="ul-image"><%= link_to image_tag("drafts-ico.png", :size=>"40x40"), drafts_path %></div>
      <div><%= link_to "Черновики", drafts_path %></div>
    </li>
    <li>
      <div class="ul-image"><%= link_to image_tag("help.jpg", :size=>"40x40"), helps_path %></div>
      <div><%= link_to "Помощь", helps_path %></div>
    </li>
    <li>
      <div class="ul-image"><%= link_to image_tag("news-ico.jpg", :size=>"40x40"), news_index_path %></div>
      <div><%= link_to "Новости", news_index_path %></div>
    </li>
    <% if current_user.super_admin? %>
        <li>
            <div class="ul-image"><%= link_to image_tag("admin_ico.png", :size=>"40x40"), admin_users_path %></div>
            <div><%= link_to "Админка", admin_users_path %></div>
        </li>
    <% end %>
  </ul>

  <div class="bar-user">
    <div class="first-line">
      <%= image_tag current_user.user_info.avatar.thumb.url %>
      <%= link_to current_user.user_info.fi, user_user_info_path %>&nbsp; &nbsp;&nbsp;
      <%= link_to image_tag("logout-icon.png", :size => "30x30", :title => "Выйти"), logout_path %>
    </div>
    <div class="second-line"> <%= link_to "Настройка", edit_user_path %> </div>
  </div>
</div>