<div id="menu">
  <ul>
    <li>
      <div class="ul-image"><%= image_tag("task.jpg", :size=>"40x40") %></div>
      <div><%= link_to "Стандарты", standard_index_path %></div>
    </li>
    <li>
      <div class="ul-image"><%= image_tag("help.jpg", :size=>"40x40") %></div>
      <div><%= link_to "Помощь", help_index_path %></div>
    </li>
  </ul>

  <div class="bar-user">
    <div class="first-line">
      <%= image_tag("ava.jpg", :size => "40x40") %>
      <%= current_user.user_info.surname %>
      <%= current_user.user_info.name %>&nbsp; &nbsp;&nbsp;
      <%= link_to image_tag("logout-icon.png", :size => "30x30", :title => "Выйти"), signout_path %>
    </div>
    <div class="second-line"> <%= link_to "Настройка", edit_user_path(current_user) %> </div>
  </div>
</div>