<header>
  <%= image_tag("rails.png", :alt => "Sample App", :class => "round", :id => "logo") %>
  <nav class="round">
    <ul>
      <li><%= link_to "Главная", block_index_path %></li>
      <li><%= link_to "Помощь", '#' %></li>
      <% if !signed_in? %>
          <li><%= link_to "Войти", signin_path %></li>
      <% end %>
    </ul>
    <% if signed_in? %>
    <ul>
      <li><%= link_to current_user.user_info.name, current_user %></li>
      <li><%= link_to "Настройки", edit_user_path(current_user) %></li>
      <li><%= link_to "Выйти", signout_path, :method => :delete %></li>
    </ul>
    <% end %>
  </nav>
</header>