<div id="header">
  <%= link_to (image_tag current_user.company.logo.url), user_company_path %>
</div>
<div id="menu">
  <ul>
    <li>
      <div class="ul-image"><%= link_to image_tag("task.jpg", :size=>"40x40"), standards_path %></div>
      <div><%= link_to t(".standards"), standards_path %></div>
    </li>
    <li>
      <div class="ul-image"><%= link_to image_tag("help.jpg", :size=>"40x40"), current_user.super_admin? ? admin_helps_path : helps_path  %></div>
      <div><%= link_to t(".help"), current_user.super_admin? ? admin_helps_path : helps_path %></div>
    </li>
    <li>
      <div class="ul-image"><%= link_to image_tag("news-ico.jpg", :size=>"40x40"), current_user.super_admin? ? admin_news_index_path : news_index_path %></div>
      <div><%= link_to t(".news"), current_user.super_admin? ? admin_news_index_path : news_index_path %></div>
    </li>
    <% if current_user.super_admin? %>
        <li>
            <div class="ul-image"><%= link_to image_tag("admin_ico.png", :size=>"40x40"), admin_users_path %></div>
            <div><%= link_to t(".admin_room"), admin_users_path %></div>
        </li>
    <% end %>
  </ul>

  <div class="bar-user">
    <div class="first-line">
      <%= image_tag current_user.profile.avatar.thumb.url %>
      <%= link_to current_user.profile.first_and_last_name, user_profile_path %>&nbsp; &nbsp;&nbsp;
      <%= link_to image_tag("logout-icon.png", :size => "30x30", :title => t(".logout")), session_path, method: :delete %>
    </div>
    <div class="second-line"> <%= link_to "Настройка", edit_user_path %> </div>
  </div>
</div>