<!DOCTYPE html>
<html>
<head>
  <title>Стандарты компании</title>
  <%= render "layouts/stylesheet" %>
</head>
<body>
<div id="outer">
  <div id="header">
    <%= image_tag("logo.gif") %>
  </div>
  <%= render "layouts/header" %>
  <div id="content">
    <div id="primaryContentContainer">
      <div id="primaryContent">
        <%= render "layouts/submenu" %>
        <% flash.each do |key, value| %>
            <div class="flash <%= key %>"><%= value %></div>
        <% end %>
        <%= yield %>
        <%= debug(params) if !Rails.env.development? %>
      </div>
    </div>
    <div id="secondaryContent">
        <%= render "layouts/left_column" %>
    </div>
    <div class="clear"></div>
  </div>
  <%= render "layouts/footer" %>
</div>
</body>


</html>
