<!DOCTYPE html>
<html>
<head>
  <title>Стандарты компании</title>
  <%= render "layouts/stylesheet" %>
</head>
<body>
<div id="outer">

  <%= render "layouts/header" if signed_in? %>
  <div id="content">
    <div id="primaryContentContainer">
      <div id="primaryContent">
        <%= render "layouts/submenu" %>
        <% flash.each do |key, value| %>
            <div class="flash <%= key %>"><%= value %></div>
        <% end %>
        <%= yield %>
        <%= #debug(params) if !Rails.env.development? %>
      </div>
    </div>
    <% if signed_in? %>
        <div id="secondaryContent">
          <%= render "layouts/left_column" %>
        </div>
    <% end %>
    <div class="clear"></div>
  </div>
  <%= render "layouts/footer" %>
</div>
</body>


</html>
